body {
    margin: 0;
    overflow: hidden;
}

header h1 {
    text-align: center;
    color: indianred;
    padding: 10px;
    font-size: 40px;
}

.cricket {
    border-top: 2px solid indianred;
    border-bottom: 2px solid indianred;
    background-color: rgba(222, 184, 135, 0.135);
}

.bat {
    width: 320px;
    transition: transform .3s ease-in .1s;

}

.cricket:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: brown;
    position: relative;
    left: 415px;
    transition: transform 1s ease-out .4s;
}

.cricket:hover .ball {
    transform: translate(952px, -180px);
}